<div class="sidebar">
    <a href="/admin-home">Главная страница</a>
    <a href="/admin-home/add-training-session">Добавить тренировочное занятие</a>
    <a href="/admin-home/add-new-category">Добавить категорию</a>
    <a href="/admin-home/add-new-class">Добавить класс</a>
    <a href="/admin-home/list-equipment">Просмотреть товары</a>
    <a href="/admin-home/add-new-equipment">Добавить товар</a>
    <a href="{{url_for('admin.view_orders')}}">Просмотреть заказы пользователей</a>
    <a href="{{url_for('admin.render_customers')}}">Управление подписками</a>
    <a href="/admin-logout">Выйти</a>
</div>