<!-- Header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/equipment">Инвентарь</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plans">Планы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/partnership">Работа</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.all_classes')}}">Занятия</a>
                    </li>
                </ul>

                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="https://via.placeholder.com/40" class="header-img rounded-circle" alt="Placeholder Image">
                        </a>
                    </li>
                    {%if session['customer_id']%}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Hello, {{username}}!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Login/Register</a>
                    </li>
                    {%endif%}
                    <li class="nav-item">   
                        <a class="nav-link" href="#">
                            <img src="https://via.placeholder.com/40" class="header-img rounded-circle" alt="Placeholder Image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>