<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ equipment.name }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .equipment-img {
            width: 100%;
            max-width: 400px;
            height: auto;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div class="container mt-4">
        <h2>{{ equipment.name }}</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-6">
                {% if equipment.picture %}
                    <img src="{{ url_for('static', filename='images/uploads/equipment/' + equipment.picture) }}" class="equipment-img" alt="Equipment Photo">
                {% else %}
                    <img src="https://via.placeholder.com/400" class="equipment-img" alt="Equipment Photo">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>Информация о товаре</h3>
                <p><strong>Описание:</strong> {{ equipment.description }}</p>
                <p><strong>Цена:</strong> {{ equipment.price }}р.</p>
                <p><strong>Категория товара:</strong> {{ equipment.category }}</p>
                <form method="POST" action="{{ url_for('main.add_to_cart', equipment_id=equipment.id) }}">
                    <button type="submit" class="btn btn-primary mt-3">Добавить в корзину</button>
                </form>
            </div>
        </div>
        <a href="{{ url_for('main.shop_page') }}" class="btn btn-secondary mt-3">Назад</a>
    </div>
    {% include 'footer.html' %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
